body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  padding-top: 10px;
  text-align: center;
  font-family: inherit;
}

#color-palette {
  width: 350px;
  height: 80px;
  display: flex;
  align-items: center;
  margin: auto;
  padding-bottom: 3px;
  justify-content: space-evenly;
}

.color {
  min-width: 50px;
  min-height: 50px;
  border: 1px solid black;
  border-radius: 50%;
}

#black {
  background-color: black;
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

#pixel-board{
  width:fit-content;
  border-spacing: 0;
  
}

.pixel {
  background-color: rgb(255, 255, 255);
  border: 1px solid #000000;
  width: 40px;
  height: 40px;
}


